* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-section {
    padding: 40px 25px 20px;
}

.desc {
    padding-bottom: 20px;
    ;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.desc p {
    padding-top: 10px;
}


.wrapDiv {
    display: flex;
    flex-direction: column;
}

.desc4 {
    display: flex;
    gap: 10px;
}

.descWrapper {
    padding: 20px 0px;
}

.desc3 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
}

.desc3 .item {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
}

.back {
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    padding: 5px 25px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--DarkGrayInput);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70%;
    padding-top: 50px;

}

.cnme {
    padding-bottom: 20px;
    font-size: 20px;
}

@media (min-width: 992px) {

    .desc4 {
        padding-left: 5px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: stretch;
        gap: 50px;
    }

    .flag {
        object-fit: cover;
        min-width: 100%;


    }

    .desc3 .item {
        width: 100%;
        text-align: center;
        padding: 10px 40px;
        gap: 10px;
    }

    .wrapDiv {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 50px;


    }

    header {
        padding: 30px 15px;
    }


    .main-section {
        height: 100%;

        padding-left: 48px;
        padding-right: 48px;
        padding-top: 40px;
    }

    .desc3 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        align-items: center;
    }

    .container {
        padding-top: 50px;
    }
}