.desc1 {
    padding-bottom: 50px;

}

.Main-section {

    padding: 50px 30px;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.desc1 p {
    padding-top: 10px;
}

.wrapDiv {
    display: flex;
    flex-direction: column;
}

.desc4 {
    display: flex;
    gap: 10px;
}

.descWrapper {
    padding: 20px 0px;
}

.desc3 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px;
}

.desc3 .item {
    width: 100%;
    text-align: center;
    padding: 10px 0px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--DarkGrayInput);
}

.back:hover,
.desc3 .item:hover {
    box-shadow: -1px 1px 10px black;
    opacity: 0.8;
}

.back {
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
    padding: 5px 25px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--DarkGrayInput);
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 100px;

}

.cname {
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
}

@media (min-width: 768px) {
    .Main-section {
        padding-left: 70px;
        padding-right: 70px;
        padding-top: 50px;
    }

}

@media (min-width: 992px) {

    .desc4 {
        padding-left: 5px;
    }

    .wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        gap: 50px;
    }

    .cname {
        font-size: 30px;

    }

    .desc3 .item {
        width: 100%;
        text-align: center;
        padding: 10px 40px;
        gap: 10px;
    }

    .wrapDiv {
        display: flex;
        flex-direction: row;
        gap: 30px;
        justify-content: space-between;


    }




    .main-section {
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 50px;
    }

    .desc3 {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
        align-items: center;
    }

    .container {
        padding-top: 50px;
    }
}