:root {
    --DarkBlueElement: hsl(209, 23%, 22%);
    --VeryDarkBlueBackground: hsl(207, 26%, 17%);
    --WhiteText: hsl(0, 0%, 100%)
}

body {
    background-color: var(--VeryDarkBlueBackground);
}

main {
    color: var(--WhiteText);
}

header,
.search,
.filter,
.menu,
.card {
    background-color: var(--DarkBlueElement);
    box-shadow: 0 0 6px black;
}

.search #search {
    background-color: transparent;
    color: var(--WhiteText);
}

.item {
    background-color: var(--DarkBlueElement);
    color: var(--WhiteText);
    box-shadow: 0 0 3px black;
}

.menu {
    background-color: var(--DarkBlueElement);

}

.flag {
    box-shadow: 0 0 5px black;
}