:root {
    --DarkBlueElement: hsl(209, 23%, 22%);
    --VeryDarkBlueBackground: hsl(207, 26%, 17%);
    --WhiteText: hsl(0, 0%, 100%)
}

body {
    background-color: var(--VeryDarkBlueBackground);
}

main {
    color: var(--WhiteText);
}

header,
.search,
.filter,.menu,
.card {
    background-color: var(--DarkBlueElement);
}

.search #search {
    background-color: transparent;
    color: var(--WhiteText);
}

.item {
    background-color: var(--DarkBlueElement);
    color: var(--WhiteText);
}
.menu {
    background-color: var(--DarkBlueElement);

}