:root {
    --DarkBlueElement: hsl(209, 23%, 22%);
    --VeryDarkBlueBackground: hsl(207, 26%, 17%);
    --WhiteText: hsl(0, 0%, 100%)
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    background-color: var(--VeryDarkBlueBackground);

}

main {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    width: 100%;
    height: 100%;
    color: var(--WhiteText);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--DarkBlueElement);
    width: 100%;
    padding: 30px 15px;
}

header>h1 {
    font-size: 15px;

}

.theme {
    display: flex;
    gap: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.main-section {
    padding: 20px 15px;
    width: 100%;

}

.search {
    background-color: var(--DarkBlueElement);
    padding: 15px 20px;
    border-radius: 5px;
}

.search #search {
    margin-left: 15px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--WhiteText);
}

.custom-select {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
    cursor: pointer;

}

.c {
    position: relative;
}

.filter {
    background-color: var(--DarkBlueElement);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.hide {
    display: none;
}

.menu li {
    list-style: none;
    cursor: pointer;

}

.menu {
    position: absolute;
    width: 100%;
    background-color: var(--DarkBlueElement);

    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    display: none;
    z-index: 10;
}

.menu li:hover {
    font-size: 18px;
    font-weight: bold;


}

.desplay-menu {
    display: block;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;

}

.card {
    background-color: var(--DarkBlueElement);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;

}

.flag {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 2/1;
}

.item {
    background-color: var(--DarkBlueElement);
    color: var(--WhiteText);
}

.cnme {
    padding: 10px;
}

.desc {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}

/* 
@media (min-width: 768px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: min-content;
        padding: 20px 34px 0px;
        gap: 30px;
    }


    .flag {
        object-fit: cover;
    }

    .search-container {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        align-items: flex-start;
    }



    .main-section {
        padding-left: 30px;
        padding-right: 30px;

    }

    .search {

        width: 40%;

    }

    .cnme {
        padding: 10px;
    }

    header {


        width: 100%;
        padding: 15px 60px;

    }

    .custom-select {

        padding-top: 0px;
        width: 200px;

    }

}


@media (min-width: 992px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: min-content;
        padding: 20px 34px 0px;
        gap: 30px;
    }


} */

@media (min-width: 768px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: min-content;
        padding: 20px 34px 0px;
        gap: 30px;
    }


    .flag {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .search-container {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        align-items: flex-start;

    }

    .main-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .search {
        width: 40%;


    }

    .cnme {
        padding: 10px;
    }

    header {


        width: 100%;
        padding: 30px 60px;

    }

    .custom-select {

        margin-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
        width: 200px;





    }


}









@media (min-width: 992px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: min-content;
        padding: 20px 34px 0px;
        gap: 30px;
    }

    header {
        padding: 30px 60px;
    }

    .flag {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }


}