:root {
    --WhiteElements: hsl(0, 0%, 100%);
    --VeryLightGrayBackground: hsl(0, 0%, 98%);
    --DarkGrayInput: hsl(0, 0%, 52%);
    --VeryDarkBlueText: hsl(200, 15%, 8%);
}


body {
    background-color: var(--VeryLightGrayBackground);
    color: var(--VeryDarkBlueText);
}

header,
.menu {
    background-color: var(--WhiteElements);
    box-shadow: 0 0 15px var(--DarkGrayInput);
}


.search,
.item,
.card,
.filter,
.flag {
    box-shadow: 0 0 5px var(--DarkGrayInput);
    background-color: var(--WhiteElements);
}


.back {
    box-shadow: 0 0 5px var(--DarkGrayInput);
}