:root {
    --WhiteElements: hsl(0, 0%, 100%);
    --VeryLightGrayBackground: hsl(0, 0%, 98%);
    --DarkGrayInput: hsl(0, 0%, 52%);
    --VeryDarkBlueText: hsl(200, 15%, 8%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    width: 100vw;
    height: 100vh;
    background-color: var(--VeryLightGrayBackground);
    color: var(--VeryDarkBlueText);

}

main {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    width: 100%;
    height: 90%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--WhiteElements);
    width: 100%;
    padding: 30px 15px;
    box-shadow: 0 0 15px var(--DarkGrayInput);

}

header>h1 {
    font-size: 15px;

}

.theme {
    display: flex;
    gap: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.main-section {
    padding: 20px 15px;
    width: 100%;
}

.search {
    background-color: var(--WhiteElements);
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px var(--DarkGrayInput);
    width: 100%;
}

.search #search {
    margin-left: 15px;
    border: none;
    outline: none;
}

.custom-select {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: 0 0 15px var(--DarkGrayInput);
    border-radius: 5px;

}

.c {
    position: relative;
}

.filter {
    background-color: var(--WhiteElements);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu li {
    list-style: none;
    cursor: pointer;


}

.hide {
    display: none;
}

.menu {
    position: absolute;
    width: 100%;
    background-color: var(--WhiteElements);

    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    display: none;
    z-index: 10;
    box-shadow: 0 0 15px var(--DarkGrayInput);
    border-radius: 5px;
}

.menu li:hover {
    font-weight: bold;
    font-size: 18px;
}

.desplay-menu {
    display: block;
}

.hidden {
    display: none;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.native {
    display: none;
}

.item {
    background-color: var(--WhiteElements);
    color: var(--VeryDarkBlueText);
}

.card {
    background-color: var(--WhiteElements);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 0 15px var(--DarkGrayInput);
    border-radius: 5px;

}

.flag {
    position: relative;
    width: 100%;
    object-fit: cover;
    height: 50%;
    aspect-ratio: 2/1;
}

.cnme {
    padding: 10px;
}

.desc {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 20px;
}


@media (min-width: 768px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: min-content;
        padding: 20px 34px 0px;
        gap: 30px;
    }


    .flag {
        object-fit: cover;
        width: 50%;
        height: 100%;
    }

    .search-container {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        align-items: flex-start;

    }

    .main-section {
        padding-left: 30px;
        padding-right: 30px;
    }

    .search {
        width: 40%;


    }

    .cnme {
        padding: 10px;
    }

    header {


        width: 100%;
        padding: 15px 60px;

    }

    .custom-select {

        margin-top: 0px;
        padding-left: 5px;
        padding-right: 5px;
        width: 200px;





    }


}









@media (min-width: 992px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: min-content;
        padding: 20px 34px 0px;
        gap: 30px;
    }

    .flag {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }


}