* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    width: 100vw;
    height: 100vh;

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 30px 15px;
}

main {
    display: flex;
    flex-direction: column;
    /* padding: 20px; */
    width: 100%;
    height: 90%;
}

header>h1 {
    font-size: 15px;

}

.theme {
    display: flex;
    gap: 5px;
    padding-right: 10px;
    cursor: pointer;
}

.main-section {
    padding: 20px 15px;
    width: 100%;
}

.search {
    padding: 15px 20px;
    border-radius: 5px;
    width: 100%;
    display: flex;
}

.search #search {
    margin-left: 15px;
    border: none;
    outline: none;
}

.custom-select {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5px;

}

.c {
    position: relative;
}

.filter {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu li {
    list-style: none;
    cursor: pointer;


}

.hide {
    display: none;
}

.menu {
    position: absolute;
    width: 100%;

    padding: 15px;
    margin-top: 5px;
    border-radius: 5px;
    display: none;
    z-index: 10;
    border-radius: 5px;
}

.menu li:hover {
    font-weight: bold;
    transition: 0.2;
    font-size: 18px;
}

.desplay-menu {
    display: block;
}

.hidden {
    display: none;
}

.cards-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px 0px;
}

.native {
    display: none;
}

.card:hover {
    box-shadow: -5px 5px 20px black;
    opacity: 0.8;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    border-radius: 5px;

}

.flag {

    object-fit: cover;
    position: relative;
    width: 100%;
    height: 50%;
    aspect-ratio: 2/1;
}

.cnme {
    padding-top: 20px;
    padding-left: 20px;
}

.desc {
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

#search {
    width: 100%;
}

@media (min-width: 768px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-auto-rows: min-content;
        padding: 30px 0px;
        gap: 50px;
    }

    .flag {
        object-fit: cover;
        min-width: 100%;
        height: 50%;

    }

    .search-container {
        display: flex;
        justify-content: space-between;
        padding-left: 30px;
        padding-right: 30px;
        align-items: flex-start;

    }

    .main-section {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }

    .search {
        width: 40%;

    }

    .custom-select {

        margin-top: 0px;

        width: 200px;
    }

    header {
        padding: 20px 50px;
    }

}

@media (min-width: 992px) {
    .cards-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-auto-rows: min-content;
        padding: 30px;
        gap: 50px;
    }

    .flag {
        min-width: 100%;
        height: 100%;

    }


}